output*
*.log
*.DS_Store
.vscode/
__pycache__/
*.pyc
*.npz
*.sql
.idea
data/*
scripts/hf_token.out
scripts/wandb_token.out
eigenspectrum/CL_note.pdf
wandb/
results/
eigenspectrum/outputs/
bsub_outputs/
.hyperparameter_search_scripts_main/
